* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.register_user_top {
    position: fixed;
    z-index: 999;
}

.register_user_l {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.38);
    height: 100%;
}

.register_user_top1 {
    cursor: pointer;
    text-align: center;
}

.register_user_webname {
    text-align: center;
    cursor: pointer;
}

.register_user_bgimg {
    background-image: url("../images/backimg1.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: -99;
    min-width: 1000px;
}

.register_user_main {
    position: absolute;
    border-radius: 5px;
    top: 15%;
    margin-bottom: 50px;
    background-color: rgba(249, 247, 232, 0.78);
}

.register_user_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 微软雅黑;
    color: #393D49;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #bbbbbb;
}

.layui-icon {
    font-size: 22px;
}

.register_user_registernum {
    padding-top: 50px;
}

.register_user_registernum_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
}

.register_user_registernum_text1 {
    font-size: 15px;
}

.register_user_registerpwd {
    padding-top: 30px;
}

.register_user_registerpwd_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
}

.register_user_registerpwd_text1 {
    font-size: 15px;
}

.register_user_phone {
    padding-top: 30px;
}

.register_user_phone_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
}

.register_user_phone_text1 {
    font-size: 15px;
}

.register_user_headingimg {
    margin-top: 35px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
}

.register_user_headimg_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
    margin-top: 50px;
}

.register_user_upload {
    width: 75px;
    margin-top: 55px;
}

.register_user_username {
    padding-top: 23px;
}

.register_user_username_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
}

.register_user_username_text1 {
    font-size: 15px;
}

.register_user_email {
    padding-top: 30px;
}

.register_user_email_text {
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
}

.register_user_email_text1 {
    font-size: 15px;
}
.register_user_address{
    padding-top: 50px;
}
.register_user_address_text{
    float: left;
    display: block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding-right: 5px;
    padding-top: 10px;
}

.register_user_address_text1{
    font-size: 15px;
}

#province {
    height: 38px;
    color: #393D49;
}

#city {
    height: 38px;
    color: #393D49;
}

#area {
    height: 38px;
    color: #393D49;
}

.register_user_success {
    margin-top: 20px;
    margin-bottom: 30px;
}