header {
	position: relative;
	width: 100%;
	z-index: 20;
}

nav {
	position: fixed;
	width: inherit;
	top: 0;
	left: 0;
}

h2 {
	font-size: 24px;
	color: #5FB878;
}

.particles-wrap {
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: -1
}

#particles-js {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	background: #fff;
	height: 100%;
}

@font-face {
  font-family: 'iconfont';  /* project id 482629 */
  src: url('http://at.alicdn.com/t/font_482629_mq8i66cwizt9y66r.eot');
  src: url('http://at.alicdn.com/t/font_482629_mq8i66cwizt9y66r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_482629_mq8i66cwizt9y66r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_482629_mq8i66cwizt9y66r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_482629_mq8i66cwizt9y66r.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont" !important;
/*    font-size: 24px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*.tab1 .layui-container i {
	font-size: 14px;
	color: #fff;
}*/

.layui-tab-title a {
	display: inline-block;
}

.tab2 .layui-container i {
	font-size: 14px;
	color: #fff;
}

.tab3-1 i {
	font-size: 14px;
	color: #fff;
}

.tab5 i {
	font-size: 14px;
	color: #fff;
}

.tab3-1 .evaluate {
	color: #555;
}

.tab3-1 .confirm {
	color: #555;
}

.tab3-1 .no-service {
	height: 210px;
}

.tab3-1 .no-service p {
	line-height: 210px;
	text-align: center;
	color: #a8a8a8;
}

.layui-nav-item:nth-child(2) {
	float: right;
}

.layui-nav-item:nth-child(3) {
	float: right;
}

.layui-nav-item:nth-child(4) {
	float: right;
}

#wrap {
	padding-top: 120px;
}

.resident-index {
	height: 150px;
}

.layui-row {
	height: inherit;
}

.head-wrap {
	height: 100px;
	width: 100px;
	overflow: hidden;
	display: inline-block;
	border-radius: 50px;
	float: right;
	position: relative;
}

.head-wrap img {
	width: 100%;
	height: 100%;
}

.head-mask {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.4s;
	border-radius: 50px;
}

.head-mask a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	line-height: 100px;
	text-decoration: none;
}

.row-in p {
	margin-top: 10px;
}

.row-in .address {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.row-in .autograph {
	color: #a8a8a8;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.title {
	color: #5FB878;
	font-size: 22px;
}

.tab1 .layui-container {
	padding-top: 30px;
	padding-bottom: 100px;
	width: 100%;
}

.tab1 .name-log {
	line-height: 38px;
	text-align: center;
	color: #a8a8a8;
}

.tab1 .layui-btn {
	width: 100px;
}

.tab2 .layui-container {
	padding-top: 30px;
	width: 100%;
}

.tab2 .email button {
	display: block;
	margin: 0 auto;
}

.tab2 .tel button {
	display: block;
	margin: 0 auto;
}

.tab2 .password p {
	color: red;
	text-align: center;
	line-height: 38px;
}

.tab2 .password .layui-btn {
	width: 100px;
}

.tab2 .password {
	padding-bottom: 100px;
}

.error {
	text-align: center;
	color: red;
	line-height: 38px;
}

.tab3 .price-total {
	float: right;
	font-size: 18px;
	display: inline-block;
	height: 38.4px;
	line-height: 38.4px;
	color: #5FB878;
}

.tab3-1 .layui-container {
	width: 100%;
}

.tab3-1 .order-wrap {
	width: 100%;
}

/*.tab3-1 .row1 .name-wrap {
	height: 48.4px;
}*/

.tab3-1 .row1 a {
	height: 100%;
	font-size: 18px;
	line-height: 38.4px;
	padding-right: 10px;
	display: inline-block;
}

.tab3-1 .service-cycle {
	font-size: 14px!important;
}

.tab3-1 .row1 p {
	display: inline-block;
	color: #5FB878;
	padding-right: 10px;
	/*padding-left: 10px;*/
	/*height: 100%;*/
	/*line-height: 30px;*/
}

.tab3-1 .row1 button {
	width: 100%;
}

.tab3-1 .row2 .img-wrap {
	height: 150px;
}

.tab3-1 .row2 .img-wrap img {
	width: 100%;
	height: 100%;
}

.tab3-1 .row2 .price-wrap p {
	text-align: right;
	color: #5FB878;
	font-size: 18px;
}

@media screen and (max-width: 767px){
	.tab3-1 .row2 .price-wrap p {
		text-align: left;
	}
}

.tab3-1 .row2 .service-wrap a {
	font-size: 18px;
	color: #1E9FFF;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.tab3-1 .row2 .detail-wrap p {
	font-size: 16px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.tab3-1 .row2 .row2-2 button {
	width: 100%;
	height: 41.2px;
}

.tab3-1 .row2 .row2-2 .fill {
	display: inline-block;
	height: 51.6px;
}

.tab3-1 .order-page {
	padding-top: 10px;
}

.tab4 .layui-container {
	padding-bottom: 10px;
	width: 100%;
}

.tab4 .row-in img {
	width: 100%;
	height: 140px;
}

.tab4 .row-in .service-title {
	font-size: 18px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	color: #1E9FFF;
}

.tab4 .row-in .store-title {
	font-size: 18px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.tab4 .row-in2 .layui-col-md4 {
	text-align: right;
	color: #FF5722;
}

.tab4 .row-in3 {
	padding-top: 5px;
}

.tab4 .row-in3 .layui-col-md6 {
	color: #5f5f5f;
}

.tab4 .row-in3 .layui-col-md6:nth-child(2) {
	text-align: right;
}

.tab4 #service-page {
	padding-top: 10px;
	float: right;
}

.tab4 #store-page {
	padding-top: 10px;
	float: right;
}

.tab5 .layui-container {
	width: 100%;
}

.tab5 .refund-wrap {
	width: 100%;
}

/*.tab5 .row1 .name-wrap {
	height: 48.4px;
}*/

.tab5 .row1 a {
	height: 100%;
	font-size: 18px;
	line-height: 38.4px;
	display: inline-block;
	padding-right: 10px;
/*	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;*/
}

.tab5 .row1 p {
	display: inline-block;
	color: #FF5722;
/*	padding-left: 10px;*/
	/*height: 100%;*/
	/*line-height: 38.4px;*/
}

.tab5 .row1 button {
	width: 100%;
}

.tab5 .row2 .img-wrap {
	height: 150px;
}

.tab5 .row2 .img-wrap img {
	width: 100%;
	height: 100%;
}

.tab5 .row2 .price-wrap p {
/*	text-align: right;*/
	color: #5FB878;
	font-size: 18px;
}

.tab5 .row2 .service-wrap a {
	font-size: 18px;
	color: #1E9FFF;
	float: left;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.tab5 .row2 .service-wrap p {
	text-align: right;
	height: 24px;
	line-height: 24px;
}

@media screen and (max-width: 767px){
	.tab5 .row2 .service-wrap p {
		text-align: left;
	}
	.tab3-1 .price-total {
		width: 100%;
	}
}

.tab5 .row2 .detail-wrap p {
	font-size: 16px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.tab5 #refund-page {
	padding-top: 10px;
}

.tab6 .message-wrap {
	width: 100%;
}

.tab6 .row1 a {
	height: 100%;
	font-size: 18px;
	line-height: 38.4px;
	display: inline-block;
	padding-right: 10px;
	/*	overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;*/
}

.tab6 .row1 .service {
	color: #1E9FFF;
}

.tab6 .row1 button {
	width: 100%;
}

.tab6 .row2 .img-wrap {
	height: 150px;
}

.tab6 .row2 .img-wrap img {
	width: 100%;
	height: 100%;
}

.tab6 .row2 .reply-wrap p {
	color: #5FB878;
	font-size: 18px;
	display: inline-block;
}

.tab6 .row2 .reply-wrap span {
	color: #a8a8a8;
	display: inline-block;
	height: 24px;
	line-height: 30px;
	float: right;
}

.tab6 .row2 .detail-wrap p {
	font-size: 16px;
}

.tab6 #message-page {
	margin-top: 10px;
}

footer {
	background: #393D49;
	height: 100px;
	position: relative;
	z-index: 2;
}

footer p{
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

#service-progress {
	display: none;
}

#refund {
	display: none;
}

#service-progress .state {
	margin: 20px 0;
	position: relative;
	height: 50px;
}

#service-progress .state hr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 24.5px 0;
}

#service-progress .state-detail:nth-child(1) {
	margin: 0 auto;
}

#service-progress .state-detail {
	width: 48px;
	height: 48px;
	background: #fff;
	text-align: center;
	border-radius: 25px;
	border: 1px #009688 solid;
	position: relative;
}

#service-progress .state-detail p {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#service-progress .staff-wrap .img-wrap {
	width: 200px;
	height: 200px;
}

#service-progress .staff-wrap .img-wrap img {
	width: 100%;
	height: 100%;
}

#refund h2 {
	color: #FF5722;
	margin: 10px;
}

#refund textarea {
	resize: none;
}

#refund .layui-form-item p {
	display: inline-block;
	color: #a8a8a8;
	margin-top: 5px;
}

#refund .layui-form-item button {
	float: right;
	margin-top: 5px;
}

#head {
	display: none;
}

.a-upload {
	padding: 0 18px;
	display: inline-block;
	height: 38px;
	position: relative;
	line-height: 38px;
	cursor: pointer;
	background: #009688;
	color: #fff;
	overflow: hidden;
	border-radius: 2px;
	margin: 10px;
}

.a-upload:hover {
	color: #fff;
}

.a-upload input {
	position: absolute;
	font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

#head button {
	margin: 10px;
	float: right;
}

#head-img-wrap {
	height: 500px;
	width: 100%;
	position: relative;
}

#head-img-wrap img {
	height: inherit;
	width: 100%;
}

/*服务周期*/
#service-cycle{
	height: 100px;
	display: none;
}
#service-cycle .cycle-time{
	margin-top: 33px;
	text-align: center;
}
.progressbar-title{
	font-size: 14px;
	color: #000;
	text-transform: capitalize;
}
.progress{
	height: 5px;
	overflow: visible;
	background: #f0f0f0;
	margin-bottom: 40px;
}
.progress .layui-progress-bar{
	position: relative;
	animation: animate-positive 2s;
}
.progress .progress-icon{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-size: 13px;
	position: absolute;
	top: -14px;
	right: 0;
	background: #fff;
	border-width: 3px;
	border-style: solid;
	text-align: center;
}
.progress-value{
	font-size: 13px;
	color: #000;
	position: absolute;
	top: 30px;
	right: -15px;
	display: inline-block;
	width: 200px;
}
@-webkit-keyframes animate-positive {
	0% { width: 0%; }
}
@keyframes animate-positive {
	0% { width: 0%; }
}