<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.yiliya.dao.OfferServiceMapper">
  <resultMap id="BaseResultMap" type="xin.yiliya.pojo.OfferService">
    <id column="offerserviceid" jdbcType="INTEGER" property="offerserviceid" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="service_img" jdbcType="VARCHAR" property="serviceImg" />
    <result column="kind" jdbcType="INTEGER" property="kind" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="people_phone" jdbcType="VARCHAR" property="peoplePhone" />
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
    <result column="notice" jdbcType="LONGVARCHAR" property="notice" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap id="BaseMap" type="xin.yiliya.pojo.OfferServiceSimple">
    <id column="offerserviceid" property="offerServiceId" jdbcType="INTEGER" />
    <result property="introduce" column="introduce" jdbcType="LONGNVARCHAR" />
    <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP" />
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    <result property="serviceName" column="service_name" jdbcType="VARCHAR" />
    <result property="serviceImg" column="service_img" jdbcType="VARCHAR" />
    <result property="status" column="status" jdbcType="INTEGER" />
    <association property="kind" column="kind" javaType="xin.yiliya.pojo.Service">
      <id property="serid" column="serid" jdbcType="INTEGER" />
      <result property="serKind" column="serkind" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <resultMap id="offerServiceDetail" type="xin.yiliya.pojo.OfferServiceDetail">
    <id property="offerserviceid" column="offerserviceid" jdbcType="INTEGER" />
    <result property="serviceImg" column="service_img" jdbcType="VARCHAR"/>
    <result property="storeId" column="store_id" jdbcType="INTEGER" />
    <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
    <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP" />
    <result property="introduce" column="introduce" jdbcType="LONGNVARCHAR" />
    <result property="notice" column="notice" jdbcType="LONGNVARCHAR"/>
    <result property="peoplePhone" column="people_phone" jdbcType="VARCHAR" />
    <result property="price" column="price" jdbcType="VARCHAR" />
    <result property="kind" column="serkind" jdbcType="VARCHAR" />
    <result property="serid" column="serid" jdbcType="INTEGER" />
    <result property="viewNum" column="view_num" jdbcType="INTEGER" />
    <collection property="serviceSpecial"  column="offerserviceid" ofType="xin.yiliya.pojo.ServiceSpecial" >
      <id property="spid" column="spid" />
      <result property="specialImg" column="special_img" />
    </collection>
  </resultMap>
  <sql id="BaseSQL">
    offerserviceid,introduce,publish_time,update_time,service_name,service_img,serid,serkind,status
  </sql>
  <sql id="Base_Column_List">
    offerserviceid, store_id, service_name, service_img, kind, price, publish_time, update_time, 
    people_phone, introduce, notice, status
  </sql>
  <sql id="offerServiceDetail">
    offerserviceid,service_name,service_img,price,publish_time,people_phone,introduce,notice,view_num,
    serkind,special_img,store_id,spid,serid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from offerservice
    where offerserviceid = #{offerserviceid,jdbcType=INTEGER}
  </select>
  <select id="getAllSimpleOfferServiceByStoreId"
          resultMap="BaseMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="BaseSQL" />
    FROM offerservice,service
    WHERE store_id = #{storeId,jdbcType=INTEGER}
    and offerservice.kind = service.serid
    AND offerservice.`status` != - 1
    AND offerservice.`status` != 0
    ORDER BY update_time DESC
  </select>
  <select id="getSAllSimpleOfferServiceByStoreId" resultMap="BaseMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="BaseSQL" />
    FROM offerservice,service
    WHERE store_id = #{storeId,jdbcType=INTEGER}
    and offerservice.kind = service.serid
    AND offerservice.`status` != - 1
    ORDER BY update_time DESC
  </select>

  <select id="getOfferServiceDetailByServiceId" parameterType="java.lang.Integer" resultMap="offerServiceDetail">
    SELECT
    <include refid="offerServiceDetail" />
    FROM offerservice,service,servicespecial
    WHERE
    offerserviceid = #{serviceId,jdbcType=INTEGER} and offerservice.kind = service.serid
    and offerservice.offerserviceid = servicespecial.offerservice_id
    and offerservice.status = 1
  </select>
  <select id="getSOfferServiceDetailByServiceId" parameterType="java.lang.Integer" resultMap="offerServiceDetail">
    SELECT
    <include refid="offerServiceDetail" />
    FROM offerservice,service,servicespecial
    WHERE
    offerserviceid = #{serviceId,jdbcType=INTEGER} and offerservice.kind = service.serid
    and offerservice.offerserviceid = servicespecial.offerservice_id
    and offerservice.status != -1
  </select>
  <select id="getTOfferServiceDetailByServiceId" parameterType="java.lang.Integer" resultMap="offerServiceDetail">
    SELECT
    <include refid="offerServiceDetail" />
    FROM offerservice,service,servicespecial
    WHERE
    offerserviceid = #{serviceId,jdbcType=INTEGER} and offerservice.kind = service.serid
    and offerservice.offerserviceid = servicespecial.offerservice_id
    and offerservice.status = -1
  </select>
  <resultMap id="getCitiesByServiceId" type="xin.yiliya.pojo.Cities">
    <id property="ciid" column="ciid" />
    <result property="cityId" column="cityid" />
    <result property="city" column="city" />
    <association property="provinces" column="cprovinceid" javaType="xin.yiliya.pojo.Provinces">
      <id property="proid" column="proid" />
      <result property="provinceId" column="provinceid" />
      <result property="province" column="province" />
    </association>
  </resultMap>
  <select id="getCitiesByServiceId" resultMap="getCitiesByServiceId" parameterType="java.lang.Integer">
    SELECT
    ciid,cityid,city,cities.provinceid as cprovinceid,provinces.proid,provinces.provinceid,provinces.province
    FROM servicespots,cities,provinces
    WHERE
    servicespots.city_id = cities.ciid
    AND cities.provinceid = provinces.provinceid
    AND servicespots.offerservice_id = #{serviceId,jdbcType=INTEGER}
  </select>
  <select id="getLinkByServiceId" resultType="string" parameterType="java.lang.Integer">
    SELECT
    service_img
    FROM offerservice
    WHERE offerserviceid = #{serviceId,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from offerservice
    where offerserviceid = #{offerserviceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xin.yiliya.pojo.OfferService">
    insert into offerservice (offerserviceid, store_id, service_name, 
      service_img, kind, price, 
      publish_time, update_time, people_phone, introduce, notice,
      status)
    values (#{offerserviceid,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{serviceName,jdbcType=VARCHAR}, 
      #{serviceImg,jdbcType=VARCHAR}, #{kind,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{peoplePhone,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{notice,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="offerserviceid" parameterType="xin.yiliya.pojo.OfferService">
    insert into offerservice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="offerserviceid != null">
        offerserviceid,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="serviceImg != null">
        service_img,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="peoplePhone != null">
        people_phone,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="notice != null">
        notice,
      </if>
      <if test="view_num != null">
        view_num,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="offerserviceid != null">
        #{offerserviceid,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceImg != null">
        #{serviceImg,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="peoplePhone != null">
        #{peoplePhone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="view_num != null">
        #{view_num,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xin.yiliya.pojo.OfferService">
    update offerservice
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceImg != null">
        service_img = #{serviceImg,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="peoplePhone != null">
        people_phone = #{peoplePhone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where offerserviceid = #{offerserviceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xin.yiliya.pojo.OfferService">
    update offerservice
    set store_id = #{storeId,jdbcType=INTEGER},
      service_name = #{serviceName,jdbcType=VARCHAR},
      service_img = #{serviceImg,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      people_phone = #{peoplePhone,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      notice = #{notice,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where offerserviceid = #{offerserviceid,jdbcType=INTEGER}
  </update>
  <update id="increaseViewNumByServiceId" parameterType="java.lang.Integer">
    UPDATE offerservice
    set view_num = view_num+1
    WHERE offerserviceid = #{serviceId,jdbcType=INTEGER}
  </update>

  <select id="getAllUserConcernServices" resultMap="BaseMap">
    SELECT
    <include refid="BaseSQL" />
    FROM offerservice,concernservice,service
    WHERE offerserviceid=concernservice.service_id AND
    kind=service.serid AND
    user_id=#{userId} ORDER BY update_time DESC
  </select>
  <resultMap id="getServicesByCityAndKind" type="xin.yiliya.pojo.OfferServiceSimple">
    <id property="offerServiceId" column="offerserviceid" />
    <result property="serviceName" column="service_name" />
    <result property="serviceImg" column="service_img" />
    <result property="price" column="price" />
    <association property="store" column="store_id" javaType="xin.yiliya.pojo.Store" >
      <id property="storeid" column="storeid" />
      <result property="storeName" column="store_name" />
    </association>
    <association property="kind" column="kind" javaType="xin.yiliya.pojo.Service">
      <id property="serid" column="serid" />
      <result property="serKind" column="serkind" />
    </association>
  </resultMap>
  <select id="getServicesByCityAndKind" resultMap="getServicesByCityAndKind">
    SELECT
	offerserviceid,
	service_name,
	service_img,
	price,
	store_id,
	storeid,
	store_name,
    kind,
    serid,
    serkind
    FROM
	offerservice,
	servicespots,
	store,
    service
    WHERE
	servicespots.offerservice_id = offerservice.offerserviceid
    AND offerservice.store_id = store.storeid
    AND offerservice.kind = service.serid
    <if test="kind !=0">
    AND kind = #{kind,jdbcType=INTEGER}
    </if>
    AND city_id = #{ciid,jdbcType=INTEGER}
    AND offerservice.`status` != - 1
    AND offerservice.`status` != 0
  </select>
  <select id="getServiceNameByInput" resultType="string" >
      SELECT
      service_name
      FROM offerservice,servicespots,store
      WHERE (service_name LIKE '%${input}%' OR store_name LIKE '%${input}%')
      and offerservice.offerserviceid = servicespots.offerservice_id
      and offerservice.store_id = store.storeid
      and city_id = #{ciid,jdbcType=INTEGER}
      AND offerservice.`status` != -1
      AND offerservice.`status` != 0
   </select>

  <select id="getServicesByInput" resultMap="getServicesByCityAndKind">
    SELECT
	offerserviceid,
	service_name,
	service_img,
	price,
	store_id,
	storeid,
	store_name,
    kind,
    serid,
    serkind
    FROM
	offerservice,
	servicespots,
	store,
    service
    WHERE
	servicespots.offerservice_id = offerservice.offerserviceid
    AND offerservice.store_id = store.storeid
    AND offerservice.kind = service.serid
    <if test="kind !=0">
      AND kind = #{kind,jdbcType=INTEGER}
    </if>
    AND (service_name LIKE '%${input}%' OR store_name LIKE '%${input}%')
    AND city_id = #{ciid,jdbcType=INTEGER}
    AND offerservice.`status` != - 1
    AND offerservice.`status` != 0
  </select>

  <select id="getServiceOfFans" parameterType="Integer" resultType="Integer">
    SELECT COUNT(*) As serviceFans from concernservice WHERE service_id=#{offerServiceId}
  </select>

  <select id="getServiceOfMarkNum" parameterType="Integer" resultType="Integer">
    SELECT COUNT(*) AS markNum FROM `order` WHERE service_id=#{offerServiceId} AND `status`=2
  </select>

</mapper>