<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.yiliya.dao.ProvincesMapper">
  <resultMap id="BaseResultMap" type="xin.yiliya.pojo.Provinces">
    <id column="proid" jdbcType="INTEGER" property="proid" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="provinceid" jdbcType="VARCHAR" property="provinceId" />
  </resultMap>
  <sql id="Base_Column_List">
    proid, province,provinceid
  </sql>
  <select id="selectAllProvinces" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    provinces
    ORDER BY
    convert(province using gbk)
  </select>
</mapper>