<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.yiliya.dao.ServiceMapper">
    <resultMap id="Base_Result_Map" type="xin.yiliya.pojo.Service">
        <id property="serid" column="serid" />
        <result property="serKind" column="serkind" />
    </resultMap>
    <select id="getAllService" resultMap="Base_Result_Map">
        SELECT
        *
        FROM service
    </select>

    <select id="getSerId" resultType="Integer">
        SELECT serid FROM service WHERE serkind=#{serKind}
    </select>
    <select id="getServiceKindPrice" resultType="float" parameterType="java.lang.Integer">
        SELECT COALESCE(AVG(price),0)
        FROM offerservice
        WHERE kind = #{serid,jdbcType=INTEGER}
    </select>
    <select id="getSerKindBySerId" resultType="string" parameterType="java.lang.Integer">
        SELECT
        serkind
        FROM service
        WHERE serid = #{serid,jdbcType=INTEGER }
    </select>
</mapper>