<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.yiliya.dao.SimpleOfferServiceMapper">
    <resultMap id="BaseMap" type="xin.yiliya.pojo.SimpleOfferService">
        <id column="offerserviceid" property="offerServiceId" jdbcType="INTEGER" />
        <result property="introduce" column="introduce" jdbcType="LONGNVARCHAR" />
        <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
        <result property="serviceName" column="service_name" jdbcType="VARCHAR" />
        <result property="serviceImg" column="service_img" jdbcType="VARCHAR" />
        <association property="kind" column="kind" javaType="xin.yiliya.pojo.Service">
            <id property="serid" column="serid" jdbcType="INTEGER" />
            <result property="serKind" column="serkind" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <sql id="BaseSQL">
        offerserviceid,introduce,publish_time,update_time,service_name,service_img,serid,serkind
    </sql>
    <select id="getAllSimpleOfferServiceByStoreId"
            resultMap="BaseMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="BaseSQL" />
        FROM offerservice,service
        WHERE store_id = #{storeId,jdbcType=INTEGER} and offerservice.kind = service.serid
    </select>
</mapper>