<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.yiliya.dao.UserMapper">
  <resultMap id="BaseResultMap" type="xin.yiliya.pojo.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="regist_num" jdbcType="VARCHAR" property="registNum" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birth" jdbcType="TIMESTAMP" property="birth" />
    <result column="community" jdbcType="VARCHAR" property="community" />
  </resultMap>

  <resultMap id="BaseResultMap1" type="xin.yiliya.pojo.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="regist_num" jdbcType="VARCHAR" property="registNum" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birth" jdbcType="TIMESTAMP" property="birth" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>

  <sql id="Base_Column_List">
    userid, regist_num, password, user_name, phone, email, head_img, city_id, introduce, 
    sex, birth, community
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xin.yiliya.pojo.User">
    insert into user (regist_num, password,
      user_name, phone, email, 
      head_img, city_id, introduce,
      sex, birth, community
      )
    values (#{userid,jdbcType=INTEGER}, #{registNum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{headImg,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{introduce,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{community,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xin.yiliya.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="registNum != null">
        regist_num,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="community != null">
        community,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="registNum != null">
        #{registNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xin.yiliya.pojo.User">
    update user
    <set>
      <if test="registNum != null">
        regist_num = #{registNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="community != null">
        community = #{community,jdbcType=VARCHAR},
      </if>
    </set>
    where regist_num=#{registNum}
  </update>
  <update id="updateByPrimaryKey" parameterType="xin.yiliya.pojo.User">
    update user
    set regist_num = #{registNum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=TIMESTAMP},
      community = #{community,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <select id="userLogin" resultMap="BaseResultMap1">
    select `user`.*,provinces.province,cities.city
    from `user`,cities,provinces WHERE regist_num=#{num}
    AND password=md5(#{pass})
    and `user`.city_id=cities.ciid
    and cities.provinceid=provinces.provinceid
  </select>

  <select id="selectUserIdByRegistNum" resultType="java.lang.Integer">
    SELECT userid FROM user WHERE regist_num=#{registNum}
  </select>

</mapper>