<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../resources/css/layui.css">
    <link rel="stylesheet" href="../../resources/css/register_user.css">
    <title>智慧社区-用户注册</title>
</head>

<body>
    <ul class="layui-nav layui-row layui-col-md12 layui-col-sm12 layui-col-xs12 register_user_top">
        <li class="layui-nav-item layui-col-md1 layui-col-sm1 layui-col-xs3 register_user_webname">Husbandry</li>
        <li class="layui-nav-item layui-col-md1 layui-col-sm2 layui-col-xs3 layui-col-xs-offset6 layui-col-sm-offset9 layui-col-md-offset10 register_user_top1">返回首页<span class="layui-icon">&#xe602;</span></li>
    </ul>
    <div class="register_user_l"></div>
    <div class="register_user_bgimg"></div>

    <div class="layui-row layui-col-md8 layui-col-sm10 layui-col-xs10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset2 register_user_main">
        <div class="layui-col-md10 layui-col-sm10 layui-col-xs10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 register_user_title"><span class="layui-icon">&#xe612;</span> 用户注册</div>
        <div class="layui-col-md10 layui-col-md-offset1 layui-col-sm10 layui-col-xs10 layui-col-xs-offset1 layui-col-sm-offset1">
            <form class="layui-form">
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_registernum">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_registernum_text">用户名：</span>
                        <span class="layui-col-md7 layui-col-sm7 layui-col-xs7">
                            <input type="text" name="registernum" path="registerNum" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input register_user_registernum_text1" >
                        </span>
                    </div>
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_registerpwd">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_registerpwd_text">密码：</span>
                        <span class="layui-col-md7 layui-col-sm7 layui-col-xs7">
                            <input type="password" name="registerpwd" path="registerPwd" required lay-verify="required" placeholder="8~16位组合" autocomplete="off" class="layui-input register_user_registerpwd_text1" >
                        </span>
                    </div>
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_phone">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_phone_text">手机号：</span>
                        <span class="layui-col-md7 layui-col-sm7 layui-col-xs7 ">
                            <input type="text" name="userphone" path="userphone" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input register_user_phone_text1" >
                        </span>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_headimg ">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_headimg_text">头像：</span>
                        <span class="layui-col-md4 layui-col-sm4 layui-col-xs5">
                        <img src="../../resources/images/house.jpg" class="register_user_headingimg" >
                        </span>
                        <span class="layui-col-sm4 layui-col-xs3">
                            <input type="file"  class="register_user_upload" required lay-verify="required" autocomplete="off" onchange="imgPreview(this)">
                        </span>
                    </div>
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_username">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_username_text">昵称：</span>
                        <span class="layui-col-md7 layui-col-sm7 layui-col-xs7">
                            <input type="text" name="username" path="userName" required lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input register_user_username_text1" >
                        </span>
                    </div>
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-form-item register_user_email">
                        <span class="layui-col-md3 layui-col-sm4 layui-col-xs4 register_user_email_text">邮箱：</span>
                        <span class="layui-col-md7 layui-col-sm7 layui-col-xs7">
                            <input type="text" name="email" path="email" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input register_user_email_text1" >
                        </span>
                    </div>
                </div>
                <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
                    <button type="submit" class="layui-col-md4 layui-col-sm4  layui-col-xs12 layui-col-sm-offset4 layui-col-md-offset4 layui-btn layui-btn-primary register_user_success">完成注册</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../resources/layui.all.js"></script>
    <script type="text/javascript" src="../../resources/js/register_user.js"></script>
</body>

</html>